.AddCity{
    
    width: 350px;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 20px;
    border-radius:10px;
    border:  1px solid black;

}
h2{
    text-align: left;
}
.input{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    padding-left: 20px;
}

button{
    width: 100%;
    margin-top: 30px;
    height: 30px;
    border: 1px solid;
    outline: none;
    border-radius: 10px;
}